-# - raise
= form_tag(search_path) do
  %div
    = text_field_tag 'q', @query, placeholder: 'Search'
    = button_tag 'Search', class: 'web_button green'
    
- if @query.present? && @hits.empty?
  %h2 No Search Results
- else
  - @hits.each do |hit|
    %h3.search_hit
      = link_to(hit[:title], scrivito_path(hit))

= link_to 'previous page', @previous_page if @previous_page
= link_to 'next page', @next_page if @next_page