<!DOCTYPE html>
<html>
  <head>
    <title>ScrivitoImportmaps</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= scrivito_head_tags %>
  </head>

  <body>
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to 'Home', scrivito_path(Obj.root), class: "navbar-brand" %>
        </div>

        <%= scrivito_tag_list :ul, Obj.root, :toclist, class: "nav navbar-nav" do |list, page| %>
          <%= list.tag :li do %>
            <%= link_to page.display_title, scrivito_path(page) %>
          <% end %>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </div>
    <%= scrivito_body_tags %>
  </body>
</html>
