= scrivito_medium_dialog do
  = scrivito_details_for "Title" do
    = scrivito_tag :div, @obj, :title
  = scrivito_details_for "Tags" do
    = scrivito_tag :div, @obj, :tags
  = scrivito_details_for "Hide from Navigation" do
    = scrivito_tag :div, @obj, :hide_from_navigation
  = scrivito_details_for "Show page in full screen" do
    = scrivito_tag :div, @obj, :full_screen
  = scrivito_details_for "Permalink" do
    = scrivito_tag :div, @obj, :_permalink